:root{

    /* primary clr */
    --color-primary-Green-500: hsl(158, 36%, 37%);
    --color-primary-Green-700: hsl(158, 42%, 18%);

    /* Neutral clr */
    --color-neutral-Black: hsl(212, 21%, 14%);
    --color-neutral-Grey: hsl(228, 12%, 48%);
    --color-neutral-Cream: hsl(30, 38%, 92%);
    --color-neutral-White: hsl(0, 0%, 100%);


    /* font */
    --ff-accent: serif;
    --ff-base: sans-serif;


    /* font-weight */
    --fw-regular: 500;
    --fw-bold: 700;

}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* general styling */

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    color: var(--color-neutral-Grey);
    background-color: var(--color-neutral-Cream);


    /* for this project only */
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
}

.Perfume-price-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.Perfume {
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    display: grid;
    background-color: var(--color-neutral-White);
    border-radius: 0.5rem;
    overflow: hidden;

    max-width: 600px;
}

@media (min-width: 600px) {
    .Perfume {
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.Perfume-content {
    display: grid;
    gap: var(--content-spacing);
    padding: var(--content-padding);
}

.Perfume-category {
    font-size: 0.8125rem;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.Perfume-title {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--color-neutral-Black);
    line-height: 1;
}

.Perfume-price {
    font-size: 2rem;
    font-family: var(--ff-accent);
    color: var(--color-primary-Green-500);
}

/* button */
.btn {
    cursor: pointer;
    padding: 0.75em 1.5em;
    border: 0;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--color-primary-Green-500);
    color: var(--color-neutral-Cream);
    font-weight: var(--fw-bold);
    font-size: 0.925rem;
    border-radius: 0.5rem;
}
.btn:is(:hover, :focus) {
    background-color: var(--color-primary-Green-700);
}
.btn[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url('images/icon-cart.svg');
    width: 15px;
    height: 16px;
}
